venv
*.pyc
.idea
*.egg-info
dist
.eggs
.emacs*
*.key
*.crt
*.csr
*.pem
.installed
.pytest_cache
coverage.xml
.coverage
test-report.xml
htmlcov
pylint-report.txt
sonar-project.properties
.vscode
.DS_Store
*.iml
RELEASE-VERSION
dist/
build/
